/* global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
  --background-color: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-gray-100 text-gray-900;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body, html, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-gray-100 text-gray-900;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative; /* Ensure the background is positioned correctly */
  overflow: hidden; /* Prevent unwanted scrolling */
}
